doctype html
html
    head

        block scripts
            script(src="/assets/js/jquery.min.js")
            script(src="/assets/js/skel.min.js")
            script(src="/assets/js/util.js")
            link(href="/assets/css/lens-main.css", rel='stylesheet')

        block head
    body
        block content
        #main
          header#header
            h1= scope.address
            p= scope.description
          section#thumbnails
            for image in scope.images
              article
                a.thumbnail(href=image)
                  img(src=image, alt='')
          footer#footer
            ul.copyright
              li
                | © By
                a(href='https://www.samorozco.com') SamOrozco.com

        
        block js
            script(src="/assets/js/lens-main.js")
            style.
              .thumbnail{
                padding: 0px;
                margin-bottom: 0px;
              }
            