doctype html
html
    head
        block scripts
            script(src="/assets/js/jquery.min.js")
            script(src="/assets/js/jquery.scrolly.min.js")
            script(src="/assets/js/jquery.scrollex.min.js")
            script(src="/assets/js/skel.min.js")
            script(src="/assets/js/util.js")
            script(src="/assets/js/story-main.js")
            link(href="/assets/css/story-main.css", rel='stylesheet')

        block head
    body
        block content
        #wrapper.divided
          // One
          section.banner.style1.orient-left.content-align-left.image-position-right.fullscreen.onload-image-fade-in.onload-content-fade-right
            .content
              p.major
                | Newport Beach Modern Living at
              h1= scope.address
            .image
              img(src=scope.cover, alt='')
          
          section.wrapper.style1.align-center
            .inner
              h2= scope.description
            // Gallery
            .gallery.style2.medium.lightbox.onscroll-fade-in
              for image in scope.images
                article
                  a.image(href=image)
                    img(src=image, alt='')
              
                
          // Six
          section.style1.align-center
            .inner
              .items.style1.medium.onscroll-fade-in(style="margin-bottom: 0;")
                section
                    span.left
                        img(src=scope.agentAvatar, style="height: 12em;position: absolute;bottom: 0px;")
                section
                    ul(style="list-style: none; display: initial;vertical-align: middle; text-align:left;")
                        li= scope.agentName
                        li= scope.agentNumber 
                        li= scope.agentEmail
                        li= scope.agentLicense 
                

          // Seven
          section.wrapper.style1.align-center
            .inner.medium
              h2 Get in touch
              form(action='/send-mail',method='get')
                .field.half.first
                  label(for='name') Name
                  input#name(type='text', name='name', value='')
                .field.half
                  label(for='email') Email
                  input#email(type='email', name='email', value='')
                .field
                  label(for='message') Message
                  textarea#message(name='message', rows='6')
                ul.actions
                  li
                    input#submit(type='submit', name='submit', value='Send Message')
          // Footer
          footer.wrapper.style1.align-center
            .inner
              p
                | © By 
                a(href='https://www.samorozco.com') SamOrozco.com