doctype html
html
    head

        block scripts
            script(src="/assets/js/jquery.min.js")
            script(src="/assets/js/skel.min.js")
            script(src="/assets/js/util.js")
            script(src="/assets/js/dimension-main.js")
            link(href="/assets/css/dimension-main.css", rel='stylesheet')

        block head
    body
        block content
        // Wrapper
        #wrapper
          // Header
          header#header
            .logo
            .content
              .inner
                h1= scope.address
                p= scope.description
            nav
              ul
                li
                  a(href='#images') Images
                li
                  a(href='#contact') Contact
          #main
            article#images
              for image in scope.images
                span.image.main
                  img(src=image, alt='', ng-cloak)
            article#contact
              h2.major Contact
              form(action='/send-mail',method='get')
                .field.half.first
                  label(for='name') Name
                  input#name(type='text', name='name')
                .field.half
                  label(for='email') Email
                  input#email(type='text', name='email')
                .field
                  label(for='message') Message
                  textarea#message(name='message', rows='4')
                ul.actions
                  li
                    input.special(type='submit', value='Send Message')
                  li
                    input(type='reset', value='Reset')
          footer#footer
            p.copyright
              | © By 
              a(href='https://www.samorozco.com') SamOrozco.com
        #bg(style="background-image: url("+scope.cover+");")

              
              