doctype html
html
    head
        block scripts
            script(src="/assets/js/jquery.min.js")
            script(src="/assets/js/jquery.scrolly.min.js")
            script(src="/assets/js/jquery.scrollex.min.js")
            script(src="/assets/js/skel.min.js")
            script(src="/assets/js/util.js")
            script(src="/assets/js/phantom-main.js")
            link(href="/assets/css/phantom-main.css", rel='stylesheet')

        block head
    body
        block content
        #wrapper
          header#header
            .inner
              a.logo(href='#')
                span.title= scope.address
          #main
            .inner
              header
                h1= scope.description
              section.tiles
                for image in scope.images
                  article
                    span.image
                      img(src=image, alt='')
                  
          section.style1.align-center.info-card
            .inner
              .items.style1.medium.onscroll-fade-in(style="margin-bottom: 0;")
                section
                    span.left
                        img(src=scope.agentAvatar, style="height: 12em;position: absolute;bottom: 0px;")
                section
                    ul(class="sam-info")
                        li= scope.agentName
                        li= scope.agentNumber 
                        li= scope.agentEmail
                        li= scope.agentLicense 
          // Footer
          footer#footer
            .inner
              section
                h2 Get in touch
                form(action='/send-mail',method='get')
                  .field.half.first
                    input#name(type='text', name='name', placeholder='Name')
                  .field.half
                    input#email(type='email', name='email', placeholder='Email')
                  .field
                    textarea#message(name='message', placeholder='Message')
                  ul.actions
                    li
                      input.special(type='submit', value='Send')
              ul.copyright
                li © | By 
                  a(href='https://www.samorozco.com') SamOrozco.com
          
        
        block js
            style.
              .left{
                float: left;
              }
              .info-card{
                position: relative;
              }
              .sam-info{
                list-style: none;
                text-align: left;
                margin-left: 162px;
                margin-bottom: 0px;
                padding-bottom: 20px;   
              }       